.chat
  .right-header
    .right-header__group
      .right-header__group__name
        yukikun
      .right-header__group__name__memberlist
        Member:
        .right-header__group__name__memberlist__member
        yuki
    .edit-button 
      Edit
  .message-field
    .message-field__box
      .message-field__box__info
        .user-name  yuki5
        .date  2020年05月31日 23時59分
      .message
        .message__content
        最高
  .footer
    .footer__form
      .footer__form__inputcontent
        %input{ :name => "massage", :placeholder => "type a message", :type => "text",class:"text" }
        %label{ class: "image" }
          = icon('far', 'image')
          %input{ class:"image__file", type: "file", name: "file"}
      %input{ type: "submit", value: "Send", class: "send"}