.chat
  .rightheader
    .rightheader__group
      .rightheader__group__name
        yukikun
      .rightheader__group__name__memberlist
        Member:
        .rightheader__group__name__memberlist__member
        yuki
    .editbutton 
      Edit
  .messagefield
    .messagefield__box
      .messagefield__box__info
        .username  yuki5
        .date  2020年05月31日 23時59分
      .message
        .message__content
        最高
  .footer
    .footer__form
      .footer__form__inputcontent
        %input{ :name => "massage", :placeholder => "type a message", :type => "text",class:"text" }
        %label{ class: "image" }
          = icon('far', 'image')
          %input{ class:"image__file", type: "file", name: "file"}
      %input{ type: "submit", value: "Send", class: "send"}
        
    
  
  










  
    
