* {
  box-sizing: border-box;
}
.side-bar{
  color: #ffffff;
  width: 300px;
  &__top{
    background-color: #253141;
    height: 100px;
    padding: 0 20px;
    display: flex;
    align-items: center;
    &__box {
      height: 20px;
      width: 260px;
      display: flex;
      justify-content: space-between;
      &__name {
        height: 20px;
        width: 46.98px;
        font-size: 16px;
        font-weight: bold;
        &__menu {
          display: flex;
          justify-content: end;
          &__edit {
            -webkit-font-smoothing: antialiased;
            display: inline-block;
            font-style: normal;
            font-variant: normal;
            text-rendering: auto;
            line-height: 1;
            &__cog {
              -webkit-font-smoothing: antialiased;
              display: inline-block;
              font-style: normal;
              font-variant: normal;
              text-rendering: auto;
              line-height: 1; 
            }
          }
        }
      }
    }
  }
} 
  .side-bar__groups{   
    background-color: #2f3e51; 
    height: calc(100vh - 100px); 
    padding: 0 20px;
    overflow: scroll;       
    &__group {
      box-sizing: border-box;
      padding: 20px 0 40px;
      &__name {
        font-size: 15px;
        &__massage {
          font-size: 11px;
          margin-top: 5px;
        }
      } 
    } 
  } 