// Place all the styles related to the messages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
* {
  box-sizing: border-box;
}
.wrapper{
  display: flex;
}
.chat{
  height: 100vh;
  background-color: #ffffff;
  width: calc(100vw - 300px);
}
    .rightheader{
      height: 100px;
      padding: 0 40px;
      border-bottom: solid 1px #eee;
      display: flex;
      justify-content: space-between;
      &__group{
        padding: 0;
        margin: 0;
        &__name{
          color: #333;
          font-size: 20px;
          margin-top: 35px;
          &__memberlist{
            color: #999;
            display: flex;
            font-size: 12px;
            margin-top: 15px;
            &__member{
              margin: 0;
              padding: 0;
              font-size: 13px;
            }
          }
        }
      }
    }
      .editbutton{
        display: block;
        border: 1px solid #38aef0;
        color:#38aef0;
        height: 40px;
        line-height: 40px;
        margin-top: 28px;
        padding: 0 20px;
        text-decoration: none;
        font-size: 16px;
            }
    .messagefield{
    background-color: #fafafa;
    box-sizing: border-box;
    padding: 35px 40px 0;
    height: calc(100vh - 100px - 90px);
    overflow: scroll;
      &__box{
        margin-bottom: 46px;
        &__info{
          display: flex;
        }
      }
    }
          .username{
            color: #434a54;
            font-size: 16px;
            font-weight: bold;
          }
          .date{
            color: #999;
            font-size: 12px;
            padding-left: 10px;
          }
        
      
    
  
        .message{
          margin-top: 12px;
          &__content{
            color: #434a54;
            font-size: 14px;
          }
        }
    .footer{
      height: 90px;
      background-color: #d2d2d2;
      width: calc(100vw - 300px);
      padding: 20px 50px 20px 40px;
      &__form{
        width: 100%;
        display: flex;
        &__inputcontent{
          display: flex;
          border: none;
          width: 100%;
          border:none;
          background-color: #ffffff;
          position: relative;
        }
      }
    }
          .text{
            height:50px;
            width:100%;
            padding-left:10px;
          }
          .image{
            position: absolute;
            top: 10px;
            right: 10px;
            font-size: 25px;
            line-height: 31px;
            &__file{
              display: none;
            }
          }
        .send{
          background-color: #38AEF0;
          color: #fff;
          font-size: 16px;
          height: 50px;
          margin-left: 15px;
          padding: 0 30px;
            }
      


                  
                
                
              
            
          

.side-bar{
  color: #ffffff;
  width: 300px;
    &__top{
      background-color: #253141;
      height: 100px;
      padding: 0 20px;
      display: flex;
      align-items: center;
      &__box {
      height: 20px;
      width: 260px;
      display: flex;
      justify-content: space-between;
        &__name {
        height: 20px;
        width: 46.98px;
        font-size: 16px;
        font-weight: bold;
      &__menu {
          display: flex;
          justify-content: end;
          &__edit {
            -webkit-font-smoothing: antialiased;
            display: inline-block;
            font-style: normal;
            font-variant: normal;
            text-rendering: auto;
            line-height: 1;
          &__cog {
            -webkit-font-smoothing: antialiased;
            display: inline-block;
            font-style: normal;
            font-variant: normal;
            text-rendering: auto;
            line-height: 1; 
            }
          }
        }
      }
    }
  }
} 
.side-bar__groups{   
  background-color: #2f3e51; 
  height: calc(100vh - 100px); 
  padding: 0 20px;
  overflow: scroll;       
    &__group {
      box-sizing: border-box;
      padding: 20px 0 40px;
      &__name {
        font-size: 15px;
        &__massage {
          font-size: 11px;
          margin-top: 5px;
        }
      } 
    } 
  } 


